@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 mt-10">
    <div>
        <h1 class="text-2xl font-bold text-indigo-500">¡Tailwind funciona!</h1>
        <p class="text-gray-500">La configuración de mi portafolio fue un éxito.</p>
    </div>
</div>